$nav-color: #808080;
body {
  $width: 100%;
  width: $width;
  height: 30px;
  background-color: $nav-color;
}

#tupian{
  background-image: url(../images/manhua.png);
  width:466px;
  height:453px;
}