{
  "presets": [
    "react",
    "env",
    "stage-0"
  ],
  "plugins": [
    "react-html-attrs",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ]
  ]
}